section
 h1 REGISTRO
 
 each val in personCtrl
  ul
    li= val.id
    li= val.nombre
    li= val.paterno
    li= val.materno
    li= val.correo
    li= val.pass
    li= val.correo
    li= val.direccion